// Grid breakpoints
$grid-breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);

$breakpoint-xs: map-get($grid-breakpoints, 'xs');
$breakpoint-sm: map-get($grid-breakpoints, 'sm');
$breakpoint-md: map-get($grid-breakpoints, 'md');
$breakpoint-lg: map-get($grid-breakpoints, 'lg');
$breakpoint-xl: map-get($grid-breakpoints, 'xl');

// Margin-specific utils
.m-a { margin: auto !important; }
.m-l-a { margin-left: auto !important; }
.m-r-a { margin-right: auto !important; }
.m-t-a { margin-top: auto !important; }
.m-b-a { margin-bottom: auto !important; }

.m-x-a {
  margin-right: auto !important;
  margin-left: auto !important;
}

.m-y-a {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.w-a { 
  width: auto;
}